{% extends "manager/base.html" %} {% block content %}
<div class="container">
    <div class="block justify-content-center">
        <div class="block">پشتیبانی حضوری</div>
            <img class="avatar-img my-3" src="/static/health.svg">
            <button class="normal-button" onclick="location.href='/manager/services/newreserve/queueHealth';">رزرو پشتیبانی و مشاوره عمومی ولنسی</button>
            <button class="normal-button" onclick="location.href='/manager/services/newreserve/queueResonance';">رزرو پشتیبانی و مشاوره تخصصی ولنسی</button>
    </div>
</div>

{% endblock %}