{% extends "wellness/base.html" %}
{% block content %}
<div class="flex-container">
<div class="block underflex" style="text-align: center;">
     <div class="block">رژیم آسم</div><br>
     <p class="underflex" style="font-size:medium;text-align:justify;">
     خلاصه: water cure  را دنبال کنید و به نسبت ۱:۱ از مکمل‌های مولتی‌مینرال کلسیم-منیزیوم مانند Solaray Cal-Mag Citrate یا  کپسول‌های Now Full Spectrum Mineral استفاده کنید. گرد و خاک‌گیری کنید. ویتامین D به اندازه کافی استفاده کنید.
     <br />
     این همه چیزهایی است که به آن نیاز است و باید به مدت طولانی انجام شود. آسم معمولاً به نظر می‌رسد که فقط کمبود هیدراسیون باشد. در حین تنفس آب‌های زیادی از ریه خارج می‌شود. اگر میزان آب برای عملکرد طبیعی بدن کافی نباشد، آلوئول‌های ریه و برونشیول‌ها  کوچک می‌شوند و در نتیجه کارایی آن کم می‌شود و جذب اکسیژن و دفع دی اکسید کربن کاهش می‌یابد. علاوه بر این، وقتی میزان آب در بدن کافی نباشد، مخاط طبیعی که از ریه‌ها محافظت می‌کند ضخیم‌تر می‌شود و به مشکل اضافه می‌کند.
     <br />
     مواد معدنی مانند کلسیم و به ویژه منیزیوم مهم هستند؛ آن‌ها عملکرد عضله صاف و عصب را کنترل می‌کنند و همچنین برای آرام کردن ماهیچه‌ها مانند ریه و کاهش تنگی نیز اهمیت دارند. مواد معدنی دیگر مهم هستند مانند سدیم ( در water cure) و پتاسیم که با خوردن مقدار زیادی میوه و سبزیجات در رژیم دریافت می‌شوند. اگر در بدن حساسیتی وجود داشته باشد، باید بدانید که با داشتن آب و مواد معدنی کافی در بدن واکنش های هسیتامین به شدت کاهش می‌یابند. شگفت‌آور است که پزشکانی که برای نجات جان بیماران خود در هنگام حمله آسمی از منیزیوم داخل وریدی استفاده می‌کنند، منیزیوم را برای مصرف روزانه مجاز ( میزانی که برای جلوگیری از علائم آسم و بیماری‌های قلبی لازم است) را به بیماران خود توصیه نمی‌کنند. 
     <br />
     ممکن است علل دیگری نیز برای بروز آسم وجود داشته باشد. مانند مشکلات انگلی به خصوص کرم‌های لوله‌ای. چرا که کرم‌های لوله‌ای در بدن مثلاً ریه‌ها جابجا می‌شوند. ریه در اثر حضور آن‌ها واکنش نشان می‌دهد. اگر علت این باشد، رژیم ضد انگلی می‌تواند مفید باشد. اگر علائم فوراً برای دو تا سه روز بدتر شد و سپس رو به بهبودی رفت بنابراین به احتمال زیاد علت بروز آسم همان انگل بوده است.
     <br />
     اختلالات ریوی می‌تواند به علت واکنش بیش از حد به گرد و خاک یا الیاف یا سموم مانند حلال‌ها باشد. حتی اگر علت اصلی نباشند، می‌توانند عاملی برای ایجاد آسم باشند. 
     <br />
     عفونت مزمن سینوسی می‌تواند علائمی مشابه با آسم ایجاد کند. چرا که مخاط آب را از ریه‌ها می‌کشد. اگر مشکل این باشد، رژیم عفونت سینوسی را رعایت کنید و با شستشوی بینی سینوس‌ها را تمیز نگه دارید. استفاده از مکمل‌های سینوسی مانند روغن گل میخک و عصاره برگ زیتون می‌تواند کمک‌کننده باشد اما نه به اندازه محصولات Eclectic که در رژیم انگلی توصیه شد.
     <br />
     برای درمان کوتاه‌مدت علائم آسم، Enzymatic Therapy محصولی به نام Air Power تولید کرده است که ریه و سینوس‌ها را باز می‌کند و باعث تولید بیشتر مخاط می‌شود. این دارو یک تسکین‌دهنده است چرا که علت اصلی آسم را برطرف نمی‌کند اما می‌تواند به صورت کوتاه‌مدت علائم را از بین ببرد.  الکتروهربالیسم توصیه می‌کند که به عنوان مکمل اصلی از رژیم snoring استفاده شود. کاهش علائم بیشتر می‌تواند با فراهم کردن مواد مغذی برای ریه‌ها مانند bromelain یا آنزیم آناناس ایجاد شود. این آنزیم علائم آلرژی را کاهش می‌دهد، گردش خون را افزایش می‌دهد، لخته‌ها و مابقی موانع را از سیستم گردش خون بر می‌دارد، پروتئین و روغن‌ها را هضم می‌کند تا بهتر جذب بدن شوند و با انگل‌ها مقابله می‌کند. 
     <br />
     اگر غذا منجر به حملات آسمی در شما شود، بهتر است کتاب ER4YT را بخوانید و از خوردن غذاهایی که پتانسیل حساسیت‌زایی را دارند اجتناب کنید. در عین حال، از خوردن گوجه‌فرنگی، سیب‌زمینی، فلفل و بادمجان خودداری کنید. محصولات گندمی گاهی باعث حمله آسمی می‌شوند. این احتمالاً مربوط به تاثیر مضر گندم بر دستگاه گوارش و یا سطح قند خون آن نیست. بیشتر احتمالاً در اثر پتانسیل آن به آلودگی به کپک ایجاد شده است.  بادام زمینی نیز گاهی باعث این حالت می‌شود. 
     <br />
     همانطور که هولدا کلارک توصیه می‌کند، کسانی که آسم دارند همیشه باید asthma inhaler با خود به همراه داشته باشند حتی زمانی که علائم آسم دیگر برای فرد مشکل‌زا نیست. 
     <br /><br />
     <b> آسم در سنین بالا به علت عفونت نوشته دکتر Mirkin </b>
     <br />
     اگر شما در سلامت بودید و ناگهان دچار سرفه و خس خس سینه شدید و به دکتر مراجعه کردید، به احتمال زیاد عفونتی به نام برونشیت در شما تشخیص داده می‌شود و به شما آنتی‌بیوتیک داده می‌شود اما اگر آنتی‌بیوتیک‌ها سرفه‌های شما را در بین یک تا دو هفته از بین نبرد، ممکن است دکتر تشخیص آسم در سنین بالا را برای شما بدهد.  به شما بگوید که شما حساسیت دارید و به متخصص آلرژیست ارجاع دهد. آن متخصص یا متخصص قفسه سینه برای شما قرص‌های کورتیزون و یا داروس استنشاقی تجویز می‌کند و شما بهتر می‌شوید اما شما درمان نمی‌شوید و به احتمال زیاد مابقی عمر خود را با بیماری غیر قابل درمانی به نام آسم در سنین بالا می‌گذرانید. احتمالاً با گذشت زمان بیماری شما بدتر می‌شود و اگر قرص‌های کورتیزونی خود را مصرف نکنید، قبل از موعد به علت بیماری خود جان خود را از دست می‌دهید.
     <br />
     این نوع آسم معمولاً به علت آلرژی ایجاد نمی‌شود و  با درمان کردن آلرژی از بین نمی‌رود. Richard Martin از بیمارستان ملی یهودیان گزارش کرده است که وی علائمی که در بیماران آسمی و بیمارانی که در خارج ریه آن‌ها کلامیدیا
     <span style="color:blue;">
     -نوعی از باکتری است که می‌تواند عفونت‌های دستگاه تنفسی مانند پنومونی را ایجاد کند.-
     </span>
     و مایکوپلاسما 
     <span style="color:blue;">
     -در انسان گونه مایکوپلاسما پنومونیه گاه باعث سینه پهلو پنومونی (A-typic) می‌شود. در ابتدا مایکوپلاسما به سلولهای محافظ غشای مجرای هوایی نفوذ می‌کند. مایکوپلاسما با کشتن این سلولها شروع به ایجاد یک واکنش التهابی در سراسر ناحیه و در برخی از موارد نیز به درون جریان خون نفوذ می‌کند-
     </span>
     رشد کرده را درمان کرده است. این بسیار هیجان‌انگیز است، چرا که تا به امروز آسمی که بعد از بلوغ به وجود می‌آید به عنوان یک بیماری غیر قابل درمان در نظر گرفته شده است. در یک آزمایش ۵۵ نفر با بیماری مزمن و پایدار آسم در نظر گرفته شدند. این افراد توسط روش PCR در معرض کلایمیدیا و مایکوپلاسما بودند. ۳۱ نفر از آن ها در ریه آن‌ها کلایمیدیا و مایکوپلاسما رشد کرد و توسط داروی clarithromycin به مدت ۶ هفته هر روز دو بار به میزان ۵۰۰ درمان شدند.
     <br />
     ۸ سال پیش David Hahn از دانشگاه Wisconsin گزارش داد که بیماران مبتلا به آسم در سنین بالا را با  دادن آنتی‌بیوتیک‌های Biaxin، Zithromax یا  doxyclycineدرمان کرده است.
     <br />
     مجله American Medical Association مقالاتی را نشان می‌دهد که آسمی که بعد از بلوغ به وجود می‌آید، می‌تواند به علت عفونت باشد. مایکوپلاسما، کلایمیدیا و ureaplasma باکتری‌هایی هستند که منحصر بفردند؛ چرا که درون سلول‌ها زندگی می‌کنند و به سختی می‌توان آن‌ها را در محیط کشت آزمایشگاهی رشد داد و در نتیجه سخت است که با تکنیک‌های کشت معمول آن‌ها را ایجاد کرد.
     <br />
     در 37 امین کنفرانس Interscience ضد میکروبی و شیمی‌درمانی در تورنتو، مقالات ارائه‌شده نشان می‌دهند که مایکوپلاسما یکی از علل شایع پنومونی در بزرگسالان و کودکان، مننژیت، آسیب‌های عصبی، عفونت عضله‌های قلب (مایوکادریت) و آسم در بزرگسالان است. یکی از مقالات نشان می‌دهد که تعداد زیادی از بزرگسالانی که به علت ماکوپلاسما دچار آسم شده‌اند، قادر به تولید آنتی‌بادی برای از بین بردن آن نیستند و در نتیجه تا آخر عمر خود به این وضعیت دچار هستند. مقاله دیگری نشان می‌دهد که باکتری‌های داخل سلولی دیگری علت شایع آسم در بزرگسالان و کودکان می‌باشند. به علت اینکه پزشکان معمولاً یک آزمایشگاه برای یافتن کیلایمیدیا، ureaplasma و مایکوپلاسما نیستند، پزشکان می‌بایست برای افرادی که با سرفه و خس‌خس سینه مداوم به آن‌ها مراجعه می‌کنند حتماً آنتی‌بیوتیک تجویز کنند. (آزیترومایسین، کلاریترومایسین، دیریترومایسین، مینوسیکلین یا داکسی سایکلین). 
     <br />
     بیش از ۱۵ سال بعد از کشف هلیکوباکتر طول کشید تا پزشکان برای بیماران با زخم‌های معده خود به تجویز آنتی‌بیوتیک‌ها اقدام کردند. ببینید چه تعداد از مردم به علت خونریزی‌های زخم معده و سرطان به علت مقاومت پزشکان خود به قبول کردن اطلاعات جدید، از بین رفته‌اند. با توجه به مطالعات اخیر، حداقل برخی از انواع آسم در سنین بالا با تحویز آنتی بیوتیک‌ها درمان می‌شوند اما هنوز بین پزشکان قابل قبول نیست.
     </p>
</div>
</div>
{% endblock %}