{% extends "wellness/base.html" %}
{% block content %}
<div class="block" style="text-align: center;">
     <div class="block">رژیم نگهداری عمومی</div><br>
     <p style="font-size:medium;text-align:justify;">
     خلاصه: برای نگهداری، از رژیم پایه که شامل مقدار کافی ویتامین‌ها، مواد معدنی و اسیدهای چرب ضروری است، استفاده کنید. قندها و مواد نشاسته‌ای را محدود کنید. میوه و سبزیجات زیاد مصرف کنید. پروتئین و روغن‌های خوب به میزان مناسب مصرف کنید. از روغن‌های هیدروژنه، چربی‌های ترانس و مواد شیمیایی سمی اجتناب کنید. آب زیاد بنوشید.
     <br /><br />
     <b> مکمل‌های حفظ سلامتی عمومی </b>
     <br />
     هشدار: مکمل‌های حفظ سلامتی عمومی ممکن است باعث تحریم گردش خون، اتساع عروق و ... شوند که ممکن است خطرناک باشد. قبل از مصرف هر کدام با پزشک متخصص خود در زمینه مکمل‌ها و تغذیه مشورت کنید. 
     </p>
     <br />
     <ol type="۱" style="font-size:medium;text-align:right;">
       <li><b>مولتی ویتامین: </b>
       از مولتی‌ویتامین‌ها در طول روز استفاده کنید. اگر نزدیک خواب استفاده کنید، در خواب شما اختلال ایجاد می‌کنند. بخصوص ویتامین B12
       </li>
       <li><b>مواد معدنی: </b>
       (اگر مولتی‌ویتامین شما حاوی مقدار کافی از مواد معدنی ضروری و بخصوص منیزیوم است، استفاده از مولتی‌مینرال واجب نیست.) مولتی مینرال‌ها را بهتر است در شب و قبل از خواب استفاده کنید. چرا که وقتی کبد فعال است، آن‌ها بهتر جذب می‌شوند که این اتفاق در شب نزدیک ساعت ۲-۳ صبح اتفاق می‌افتد. به علاوه اینکه مولتی مینرال‌ها آرام‌بخش و تحریک‌کننده به حذف مواد زائد هستند.
       </li>
       <li><b>مکمل اسیدهای چرب ضروری:</b>
       از آنجایی که مردم زیاد omega 6 و omega3 دریافت نمی‌کنند، دریافت این مکمل‌ها به اندازه مولتی مینرال‌ها و مولتی ویتامین‌ها ضروری است.
       </li>
     </ol>
     <p style="font-size:medium;text-align:right;">
     <br />
     برای حفط سلامت عمومی لازم نیست رژیم‌ها به طور سختگیرانه پیگیری شود. اگر اختلالی وجود دارد، این سختگیری لازم است. به عنوان مثال، به طور معمول لازم است از خوردن قندهای اضافه، مواد نشاسته‌ای، روغن‌های هیدروژنه و چربی‌های ترانس خودداری شود اما در کسی که اختلالی وجود دارد، کتاب ER4YT و رژیم Zone برای غلبه به اختلال بسیار کمک‌کننده خواهند بود. نوشیدن زیاد آب برای حفظ سلامت عمومی همیشه کمک‌کننده بوده است. مکمل‌های عمومی حفظ سلامتی می‌توانند کمک‌کننده باشند یا حتی تمام آنچه که نیاز است تا با اختلال‌های کمبود مواد مغذی مبارزه کنیم هستند. اینکه همیشه از جذب یا هضم مواد سمی اجتناب کنیم، توصیه می‌شود اما برای برخی از اختلالات اجتناب از مواد سمی به طور سخت بسیار مهم است.
     <br />
     مولتی ویتامین‌ها به طور معمول در روز مصرف می‌شوند. برای مثال اگر ویتامین B خیلی نزدیک به زمان خواب استفاده شود، موجب بی‌خوابی می‌شود. مولتی مینرال‌ها آرام‌بخش و خواب‌آور هستند؛ بنابراین بهتر است قبل از خواب مصرف شوند. در بعضی از افراد با اختلالات روانی لازم است که کلسیم و منیزیوم کافی در طول روز مصرف شود. در این افراد مولتی ویتامین با مقدار کافی از مواد معدنی حیاتی در طول روز و در شب به اندازه نصف دوز توصیه شده و باید به عنوان تقویت‌کننده نیز مصرف شود.
     <br />
     اسیدهای چرب ضروری را می‌توان در هر زمانی در طول روز یا شب مصرف کرد. آن‌ها به تمرکز ذهنی کمک می‌کنند در نتیجه بعضی از افراد ترجیح می‌دهند از آن‌ها در طول روز استفاده کنند. همچنین آن‌ها وقتی کبد فعال است، بهتر جذب می‌شوند. بنابراین بعضی دیگر از افراد ترجیح می‌دهند از آن‌ها در طول شب استفاده کنند. مکمل‌های توصیه شده EFA، Jarrow Omega Balance یا Enzymatic Therapy Eskimo-3 هستند.
     </p> 
</div>
{% endblock %}