{% extends "wellness/base.html" %} {% block content %}
<div class="container">
    <div class="block">
        <div class="block">ارزیابی‌ها</div>
        <br>
        <button class="normal-button"     onclick="location.href='/dashboard/evaluation/quiz/quiz-introduction/1'" >عشق و مسئولیت‌پذیری نسبت به خود</button>
        <button class="normal-button"     onclick="" >تنفس</button>
        <button class="normal-button"     onclick="" >تغذیه</button>
        <button class="normal-button"     onclick="" >حس کردن</button>
        <button class="normal-button"     onclick="" >حرکت</button>
        <button class="normal-button"     onclick="" >احساس کردن</button>
        <button class="normal-button"     onclick="" >فکر کردن</button>
        <button class="normal-button"     onclick="" >بازی کردن و کار کردن</button>
        <button class="normal-button"     onclick="" >ارتباط برقرار کردن</button>
        <button class="normal-button"     onclick="" >صمیمیت</button>
        <button class="normal-button"     onclick="" >یافتن معنا</button>
        <button class="normal-button"     onclick="" >ورا رفتن</button>
       
    </div>
</div>

{% endblock %}