{% extends "wellness/base.html" %} {% block content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/quizintroduction.css" rel="stylesheet">
</head>
 <div class="container p-2">
  <div class="block text-right" dir="rtl" lang="fa">
  <small>
   <div class="block mb-5">معرفی مسیر عشق و مسئولیت‌پذیری نسبت به خود</div>
   <div class="my-scroll" dir="rtl">
   <div class="pl-105">
    <div>
      <audio class="mp3" controls loop ><source src="/static/audio/QuizIntroduction/love.mp3"></audio>
    </div>
    <p>ولنس همانند پلی است که توسط دو ستون حمایت می‌شود. هر کدام از این ستون‌ها برای حفظ یکپارچگی پل حیاتی است. این دو ستون، عشق و مسئولیت‌پذیری نسبت به خود می‌باشند که ضرورت و اساس  فرایند ولنس هستند. در هر انسانی این ستون‌ها منجر به ارتباط بین دو مکان و حالت جدای فرد می‌شوند و حرکت وی به جلو و عقب را ممکن می‌سازند. این آزادی حرکت بین مکان‌ها یا حالات مختلف به جای اتصال سخت به یک حالت، نشان‌دهنده‌ی ولنس است.</p>
    <p>عشق و مسئولیت‌پذیری نسبت به خود، صورت‌های اولیه انرژی زندگی هستند. این دو با هم اساس ولنس را شکل می‌دهند و جریان آزادانه‌ی سایر اشکال انرژی را ممکن می‌سازند. اگر هر کدام از این پایه‌ها ضعیف شوند، زندگی با هارمونی (عبور از پل) غیرممکن می‌شود. وقتی هر دو ستون قوی باشند، انرژی به سمت عقب و جلو می‌رقصد و عبور راحت‌تر است.</p>
    <div>
        <p >مسئولیت‌پذیری در قبال خود یعنی:</p>
        <ul>
          <li>کشف نیازهای خود و یافتن راه‌هایی برای برطرف کردن مستقیم آن‌ها</li>
          <li>فهمیدن اینکه شما منحصر به فرد و متخصص خودتان هستید.</li>
        </ul>
    </div>
    <p>بیان ایده‌ها و احساسات خود به طوری که به شکل مؤثری به مردم نشان دهد شما که هستید، چه نیازهایی دارید و چه چیزهایی می‌دانید.</p>
    <div>
        <p >عشق یعنی:</p>
        <ul>
          <li>گوش دادن به قلبتان، ارزش نهادن به منحصر به فرد بودن و دانایی درونی خود</li>
          <li>فهمیدن اینکه شما منحصر به فرد و متخصص خودتان هستید.</li>
          <li>تجربه خود به عنوان بهترین دوست خود و ایمان داشتن به خودتان به خصوص در زمان‌های سخت</li>
          <li>آگاهی از ارتباط خود با همه چیز</li>
        </ul>
    </div>
    <p><i class="fa fa-hand-o-left"></i> وقتی عشق و مسئولیت‌پذیری نسبت به خود اساس هستی ما باشند، زندگی و ولنس هم معنا می‌شوند.</p>
    <p>ولنس فرایندی پویاست؛ چرا که تناقضات ظاهری در آن هست که باید حل شوند، تضادهای صوری هستند که باید یکپارچه شوند و تصمیم‌هایی که باید گرفته شوند. اگرچه شما با همه مرتبط هستید، در عین حال بسیار تنهایید و باید به تنهایی تصمیمات زندگی و مرگ خود را بگیرید. این بخش به دنبال جواب این سؤال است که چگونه با مسئولیت‌پذیری و عشق زندگی کنید تا موانع به فرصت تبدیل شوند و سؤالات، انگیزه‌ای برای تجربه، یادگیری، اعتماد و دوست داشتن این آفریده‌ی متناقض و با شکوه، یعنی شما، شوند.</p>
   </div>
   </div>
   <button class="normal-button">انجام آزمون</button>
  </small>
  </div>
 </div>


<script>
    $('.normal-button').each(function(index){
        $(this).click(function(){
            var num  = "{{number}}"
            var stat = "{{status}}"
            if (stat == "invalid") {
                $('.modal-body').text('به دلایل ولنسی شما تا {{RD}} روز دیگر مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "WithoutResult") {
                $('.modal-body').text('به علت وجود آزمون تحلیل‌نشده مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "valid")         { window.location.href = '/dashboard/evaluation/quiz/'+ num; }
        });   
    });
</script>

{% include "QuizIntroduction/QuizModal.html" %}
{% endblock %}