{% extends "wellness/base.html" %} {% block content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/quizintroduction.css" rel="stylesheet">
</head>

<div class="container p-2">
  <div class="block text-right" dir="rtl" lang="fa">
  <small>
   <div class="block mb-5">معرفی مسیر صمیمیت</div>
   <div class="my-scroll" dir="rtl">
   <div class="pl-105">
    <div>
      <audio class="mp3" controls >
        <source src="/static/audio/QuizIntroduction/intimacy.mp3">
      </audio>
    </div>
    <p>صمیمیت انواع مختلفی دارد؛ از دوستی گرفته تا روابط خانودگی و ازدواج‌های بلندمدت. رابطه هر چه که می‌خواهد باشد؛ صمیمیت جزئی اساسی برای رسیدن به سطح وِلْنِسْ بالا می‌باشد.</p>
    <p>آیا داشتن این نوع روابط صمیمانه به این معناست که ما هیچگونه درگیری نداریم؟ نه به هیچ وجه؛ در واقع نزدیک به ۷۰ درصد درگیری‌های موجود در روابط، قابل حل نیستند. تفاوت خانواده‌ها، فرهنگ، شخصیت، سبک زندگی یا ارزش‌های شخصی مانع حل دائمی تضادها می‌شوند اما ما می‌توانیم بسته به روشی که با تضادها سر و کله می‌زنیم، رابطه‌ای بر پایه‌ی اعتماد و صمیمیت با عزیزان خود بسازیم.</p>
    <p>کلید حل مشکلات، یادگیری این مسئله است که با قدردانی، احترام و دوستی به هم جواب دهیم. آگاهی از این مسئله که عزیزان ما چگونه برای برقراری ارتباط با ما تلاش می‌کنند و ما چگونه به تلاش آن‌ها پاسخ می‌دهیم، تفاوت زیادی در حسی که نسبت به هم داریم، ایجاد می‌کند. برخی مواقع این تلاش‌ها می‌توانند غیرمستقیم و حتی منفی باشند. آگاهی از تلاش برای برقراری ارتباط و انتخاب پاسخ دادن مثبت به آن می‌تواند تفاوت زیادی در کیفیت رابطه ایجاد کند.</p>
    <p>احترام به مرز روابط صمیمانه (خط نامرئی‌ای که حدود هر فرد را در رابطه مشخص می‌کند) برای ساخت اعتماد و امنیت، احساسی ضروری است. این مسئله به خصوص در روابط جنسی صدق می‌کند. دانستن حدود خود، دفاع قطعی از آن‌ها و اطمینان حاصل کردن از مورد احترام بودن آن‌ها، نیاز اساسی در یک رابطه‌ی سالم است. روابط بلندمدت (جنسی یا افلاطونی) می‌توانند ماجراهایی باشند که همیشه در حال رشد هستند. نحوه‌ی ارتباط ما با دیگران می‌تواند کیفیت زندگی ما را بسیار تغییر دهد. شکل دادن یک پیوند محکم و دوستانه با فردی دیگر، نیاز به فهمیدن خود و دید داشتن به ذهن و توانایی فهمیدن و همدردی با تجربیات فرد مقابل دارد. هر چه ما بیشتر خود را بشناسیم، بهتر می‌توانیم دیگران را بفهمیم و هر چه عمیق‌تر دیگران را بشناسیم، خود را بهتر می‌شناسیم.</p>
    </div>
   </div>
   <button class="normal-button">انجام آزمون</button>
 </small>
 </div>
</div>

<script>
    $('.normal-button').each(function(index){
        $(this).click(function(){
            var num  = "{{number}}"
            var stat = "{{status}}"
            if (stat == "invalid") {
                $('.modal-body').text('به دلایل ولنسی شما تا {{RD}} روز دیگر مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "WithoutResult") {
                $('.modal-body').text('به علت وجود آزمون تحلیل‌نشده مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "valid")         { window.location.href = '/dashboard/evaluation/quiz/'+ num; }
        });   
    });
</script>

{% include "QuizIntroduction/QuizModal.html" %}
{% endblock %}