{% extends "wellness/base.html" %} {% block content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/quizintroduction.css" rel="stylesheet">
</head>

<div class="container p-2">
  <div class="block text-right" dir="rtl" lang="fa">
  <small>
    <div class="block mb-5">معرفی مسیر تغذیه</div>
    <div class="my-scroll" dir="rtl">
    <div class="pl-105">
      <div>
        <audio class="mp3" controls >
           <source src="/static/audio/QuizIntroduction/eating.mp3">
        </audio>
      </div>
      <p>بیشتر عادات غذایی ما نشان‌دهنده‌ی یک بحران سلامتی عمومی هستند. اگر یک بیماری جدید با شدت تخریبگری یک‌دهم رژیم غذایی ما به وجود می‌آمد، همه‌ی مردم برای یافتن درمان درخواست عاجزانه می‌کردند.</p>
      <p>بیشتر شیوه‌ی تغذیه‌ی بسیاری از مردم، نتیجه سبک زندگی‌ای است که رضایت آنی را می‌ستاید و نسبت به اثرات بلندمدت آن بی‌توجه است.</p>
      <p>بسیاری از مردم تغذیه‌ی سالم ندارند، اضافه‌وزن دارند و به دلیل بیماری‌های مربوط به الگوهای تغذیه‌ای به خصوص بیماری‌های قلبی، سرطان و سکته‌ی مغزی می‌میرند. از جمله مشکلات دیگری که ناشی از تغذیه‌ی نادرست هستند، می‌توان به خراب شدن دندان، سوء هاضمه، یبوست، آلرژی، سردرد، بیش‌فعالی، لختی، مشکلات پوستی و مو و ناخن ناسالم اشاره کرد.</p>
      <p>اساساً ما ارتباط خود را با خود از دست داده‌ایم و بنابراین رژیم غذایی و الگوهای تغذیه‌ای ما در تعادل نیستند. ما از تغذیه‌ی مناسب و مواد مغذی اطلاع نداریم، دچار استرس هستیم و بیشتر مواد غذایی که در دسترس ماست، با استفاده از حشره‌کش‌ها رشد کرده، فرایندهای مختلف بر روی آن‌ها انجام شده و به خاطر خاک ضعیفی که در آن رشد کرده‌اند، فاقد مواد مغذی هستند.</p>
      <p>علاوه بر این مشکلات، بسیاری از مردم برای رهایی از دردهای روحی و فیزیکی غذا می‌خورند. علاوه بر مشکلات تغذیه‌ای، بسیاری از مردم به موادی مثل کافئین، الکل، نیکوتین و انواع دارو اعتیاد دارند. وضعیت حال حاضر به مانند دایره‌ای می‌ماند که در آن هر عاملی منجر به ایجاد مشکل دیگری می‌شود و برگشت دوباره به خود، خود  آن عامل را تقویت می‌کند. هرچه شما بیشتر استرس داشته باشید،  تمایل شما به خوردن برای رهایی از استرس و درد بیشتر می‌شود. هر چه بیشتر بخورید، درد شما به خاطر افزایش وزن یا حس گناه بیشتر می‌شود. مهم نیست در چه نقطه‌ای از چرخه داخل آن می‌پرید. هر جا که وارد چرخه شوید، باخته‌اید. این بخش نحوه‌ی شکست این چرخه و پریدن به چرخه‌ی دیگر را بررسی می‌کند.</p>
    </div>
    </div>
    <button class="normal-button">انجام آزمون</button>
  </small>
  </div>
</div>

<script>
    $('.normal-button').each(function(index){
        $(this).click(function(){
            var num  = "{{number}}"
            var stat = "{{status}}"
            if (stat == "invalid") {
                $('.modal-body').text('به دلایل ولنسی شما تا {{RD}} روز دیگر مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "WithoutResult") {
                $('.modal-body').text('به علت وجود آزمون تحلیل‌نشده مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "valid")         { window.location.href = '/dashboard/evaluation/quiz/'+ num; }
        });   
    });
</script>

{% include "QuizIntroduction/QuizModal.html" %}
{% endblock %}