{% extends "wellness/base.html" %} {% block content %}
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="/static/css/quizintroduction.css" rel="stylesheet">
</head>

<div class="container p-2">
  <div class="block text-right" dir="rtl" lang="fa">
  <small>
   <div class="block mb-5">معرفی مسیر ارتباط برقرار کردن</div>
   <div class="my-scroll" dir="rtl">
   <div class="pl-105">
    <div>
      <audio class="mp3" controls >
        <source src="/static/audio/QuizIntroduction/cominiucating.mp3">
      </audio>
    </div>
    <p>ارتباطات انسانی، جابجایی اطلاعات کلامی یا غیر کلامی بین فرستنده و گیرنده است. چون ما انسان‌ها به شکل خارق‌العاده‌ای پیچیده هستیم، غیرممکن است که بتوانیم بیت‌های ایزوله‌ای از داده را بفرستیم. وقتی شما با کسی صحبت می‌کنید (یا می‌نویسید یا نگاه می‌کنید)، در واقع خودتان را برای آن فرد توصیف می‌کنید. شما نمی‌توانید جلوی این مسئله را بگیرید. تن صدایتان، انتخاب کلماتتان، حالات صورتتان، لباسی که پوشیده‌اید و نحوه‌ای که موهایتان را شانه زده‌اید، همگی این موارد پیغامی در رابطه با شما را انتقال می‌دهند.</p>
    <p>علاوه بر این، مردم چیزی که شما می‌فرستید را با توجه به اعتقادات و ارزش‌های خودشان تفسیر می‌کنند. گاهی اوقات متغیرها و پیام‌های نهفته‌ی زیادی وجود دارند؛ به طوری که پیام اصلی را در وهله‌ی اول نمی‌توان دریافت کرد و برای یافتن آن نیاز به اطلاعات داریم.</p>
    <p>وقتی شما سرتان برای ارتباط برقرار کردن با کسی یا چیز دیگری شلوغ نیست، در حال مکالمه و ارتباط با خود هستید حتی اگر خودتان متوجه نباشید. این مکالمات درونی مانند هر مکالمه‌ی دیگری نسبت به تحریف و مورد سوء تعبیر قرار گرفتن، آسیبپذیر هستند. چون مکالمات درونی نحوه‌ی دید شما به خودتان و دنیا را هدایت می‌کنند، بر روی سلامتی و شادی شما اثر مهمی دارند. اگر شما به اندازه‌ی کافی به خودتان بگویید دنیا یک مسابقه‌ی دوی خشن است و اگر به اندازه‌ی کافی به خودتان بگویید که شما ضعیف و آسیب‌پذیرید، واقعیت شما هم به همین گونه پیش خواهد رفت.</p>
    <p>این بخش بر روی ارتباطات کلامی تمرکز دارد و دینامیک مکالمات فرد با خود و دیگران را بررسی می‌کند. این بخش همچنین به قطعی ارتباطات می‌پردازد. در طی پردازش بُعد ارتباط، شما یاد می‌گیرید که برای خودتان ارزش قائل شوید. هر چه کانال شما تمیزتر باشد، احتمال برخورد معنادار با یک جابجایی انرژی پویا بیشتر است.</p>
</div>
   </div>
   <button class="normal-button">انجام آزمون</button>
 </small>
 </div>
</div>

<script>
    $('.normal-button').each(function(index){
        $(this).click(function(){
            var num  = "{{number}}"
            var stat = "{{status}}"
            if (stat == "invalid") {
                $('.modal-body').text('به دلایل ولنسی شما تا {{RD}} روز دیگر مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "WithoutResult") {
                $('.modal-body').text('به علت وجود آزمون تحلیل‌نشده مجاز به انجام ارزیابی جدید نمی‌باشید.');
                $(this).attr('data-toggle',"modal");
                $(this).attr('data-target', "#myModal");
            }
            else if (stat == "valid")         { window.location.href = '/dashboard/evaluation/quiz/'+ num; }
        });   
    });
</script>

{% include "QuizIntroduction/QuizModal.html" %}
{% endblock %}