<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header d-flex justify-content-between">
                <div>
                    <h4 class="modal-title text-dark">پیام</h4>
                </div>
            </div>

            <!-- Modal body -->
            <div class="modal-body text-dark">

            </div>
                      
            <!-- Modal footer -->
            <div class="modal-footer">
                <div >
                    <button class="btn btn-success" onclick="location.href='/dashboard/evaluation/quiz'"> متوجه شدم. </button>
                </div>
            </div>

        </div>
    </div>
</div>
