<style>
  .modal-content{
    width: 70%!important;
  }
  .btn {
    color: #fff;
    background-color: #008080;
    border-color    : #008080;
  }
  
  .btn:hover {
    color: #fff;
    box-shadow: 0px 0px 1em white;
  }
</style>
<div class="modal modal-profile fade background-modal" id="myModal" >
  <div class="modal-dialog d-flex justify-content-center">
      <div class="modal-content background-modal-content text-center mt-2">

          <!-- Modal Header -->
          <div class="modal-header d-flex justify-content-between">
                  <h4 class="modal-title">ایران‌وِلْنِسْ</h4>
          </div>
          <br />
          <!-- Modal body -->
          <div class="modal-body text-justify" >
              
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <div >
                <button class="btn" onclick="location.href='/dashboard/ticket'"> بازگشت به صفحه پیگیری‌ها </button>
            </div>
          </div>
      </div>
  </div>
</div>