<!DOCTYPE html>
<html lang="fa">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ایران ولنس</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="iranwellness iran wellness Web Application.وب اپلیکیشن ایران ولنس">
    <meta name="keywords" content="iran,wellness,iranwellness,web,application,ایران,ولنس,وب,اپلیکیشن">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16"   href="/static/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32"   href="/static/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96"   href="/static/icons/favicon-96x96.png">
    <link rel="manifest" href="/static/manifest.json">
    <meta name="theme-color" content='#23B375'/>

    <link rel="stylesheet" href="/static/includes/bootstrap/bootstrap.min.css">
    <script src="/static/includes/jquery/jquery.min.js"></script>
    <script src="/static/includes/anime/anime.min.js"></script>
    <script src="/static/includes/bootstrap/bootstrap.min.js"></script>
    <link href="/static/css/fontma.css" rel="stylesheet">

    <link href="/static/css/index.css" rel="stylesheet">
    <script src="/static/js/index.js"></script>
    
    <!--google-webmaster-->
    <meta name="google-site-verification" content="alzpZs1FBN53HOw6_7k66LzGQFpoanZOjJrK06Jm8iM" />
    <!-- end google-webmaster-->
    
</head>

<body>
  <div class="background"></div>
  <div class="d-flex justify-content-center">
    <h1 class="Iran w-40 text-center">
      <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Iran</span>
      </span>
    </h1>
  </div>
  <div class="d-flex justify-content-center">
    <h1 class="Wellness w-50 text-center">
      <span class="text-wrapper">
        <span class="line line2"></span>
        <span class="letters">Wellness</span>
      </span>
    </h1>
  </div>
  <div class="svg">
    <svg viewBox="0 0 140 140">
        <g fill="none" fill-rule="evenodd">
            <g fill="currentColor" fill-opacity=".15" transform="translate(0 6)">
                <polygon points="70 0 136.574 48.369 111.145 126.631 28.855 126.631 3.426 48.369"></polygon>
                <polygon points="70 18 119.455 53.931 100.565 112.069 39.435 112.069 20.545 53.931"></polygon>
                <polygon points="70 34.86 101.727 57.911 89.609 95.209 50.391 95.209 38.273 57.911"></polygon>
                <polygon points="70 50.898 84.864 61.697 79.186 79.171 60.814 79.171 55.136 61.697"></polygon>
                <polygon class="polymorph" stroke-width="1" stroke="currentColor" points="0 0 0 0 0 0 0 0 0 0"></polygon>
            </g>
        </g>
    </svg>
  </div>
  <div id="language">
    <button type="button" class="rounded m-1" onclick="location.href='/dashboard/'">ورود</button><br>
    <button type="button" class="rounded m-1" id="user-guide">راهنمای نصب</button><br>
  </div>
  <div style="height: 5em;"></div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-around">
                    <h4>راهنمای نصب</h4>
                </div>
                <div class="modal-body">
                    <p>وارد تنظیمات مرورگر خود شده و گزینه‌ی Add to home screen را انتخاب کنید.</p>
                    <p>میان‌بر وب اپلیکیشن به صفحه‌ی اصلی (Homescreen) گوشی شما اضافه خواهد شد. پس از آن، با انتخاب میان‌بر، وب اپلیکیشن موردنظر شما به شکل یک اپلیکیشن مستقل اجرا می‌شود.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-exit" data-dismiss="modal">خروج</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end Modal -->
  <div style="height: 10vh;"></div>
</body>

</html>
