<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
   <title> Browser Information </title>
</head>

<body>
<h1> Browser Information </h1>
<script>
  document.write("App Name:"+ navigator.appName)
</script>
<br />
<script> 
  document.write("App Code Name:" + navigator.appCodeName)
</script>
<br />
<script>
  document.write("Product:" + navigator.product)
</script>
<br />
<script>
  document.write("App Version:" +navigator.appVersion)
</script>
<br />
<script>
  document.write("User Agent:"+ navigator.userAgent)
</script>
<br />
<script>
  document.write("Platform:"+ navigator.platform)
</script>


<p> The window.location object </p>
<script>
  document.write("Location Href:  " + window.location.href)
</script>
<br />
<script>
  document.write("Location HostName:  " + window.location.hostname)
</script>
<br />
<script>
  document.write("Location PathName: " + window.location.pathname)
</script>
<br />
<script>
  document.write("Location Origin: " + window.onappinstalled)
</script>

<script>
var ua = navigator.userAgent;
if ((ua.match(/iPhone/i)) || (ua.match(/Android/i))){
 alert('You have signed in with your phone')
}
</script>
</body>
</html>