{% extends "wellness/base.html" %}

{% block content %}
<div class="container">
    <h1 class="text-center my-4">به بلاگ ایران ولنس  خوش آمدید</h1>
    <div class="text-center my-4">
        <button onclick="location.href='http://127.0.0.1:8000/news/health/'" class="btn btn-primary mx-2">Health</button>
        <button onclick="location.href='http://127.0.0.1:8000/news/wellness/'" class="btn btn-success mx-2">Wellness</button>
    </div>
    <div class="text-center my-4">
        <p>ولنس به معنی بهبود کلی سلامت و کیفیت زندگی افراد است. با ولنس، شما می‌توانید با ایجاد تغییرات مثبت در سبک زندگی خود، به تعادل جسمی و روحی برسید و زندگی سالم‌تری داشته باشید.</p>
    </div>
</div>
{% endblock %}
