{% extends "wellness/base.html" %} {% block content %}
<div class="container">
    <div class="block">
        <div class="block heading justify-content-center greenback"> اخبار {{info.first.new.Pname}} </div>
        <div class="text-right py-4 px-2">
            <p>در این بخش می توانید با انتخاب هر یک از موارد زیر به اطلاعاتی از دیدگاه ولنسی دست یابید:</p>
            <ul>
              {% for subject in info %}
                <a href="/news/{{info.first.new.Ename}}/{{subject.Ename}}/" id={{subject.Ename}}><li class="pointer p-1">{{ subject.Pname }}</li></a>
              {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script>
    $('#coveid19').remove()
</script>
{% endblock %}